<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Jorge Contreras</title>
    <link rel="stylesheet" href="/public/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/public/stylesheets/style.css"/>
    <link rel="stylesheet" href="/public/stylesheets/foundation-icons/foundation-icons.css"/>
    <script src="/public/javascripts/vendor/jquery.js"></script>
    <script src="/public/javascripts/vendor/what-input.js"></script>
    <script src="/public/javascripts/vendor/foundation.min.js"></script>
    <script src="/public/javascripts/vendor/foundation.js"></script>
    <script>$(document).foundation();</script>
</head>
<style>
    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #f1f1f1}
</style>
<div id="sticky_header" class="title-bar navbar header" data-responsive-toggle="main-menu">
    <div class="row">
        <h2 style="margin: 0px 0px 0px 0px;">{{title}}</h2>
        <a href=""></a>
    </div>
</div>
<body style="background-color: #ffffff">
    <div class="position_center panel" style="">
        <form id="dogSearchForm" method="POST" action="/search" style="margin: 16px;">
            <div style="">
                <label>Search dogs by</label>
            </div>

            <div class="row">
                <div class="small-4 column">
                    <label>Age:</label>
                    <select id="age" name="age" class="">
                        <option value="100">Any</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="small-4 column">
                    <label>Size:</label>
                    <select id="size" name="size" class="">
                        <option value="Any">Any</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="2XL">2XL</option>
                        <option value="3XL">3XL</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <button id=searchSubmit" type="submit" class="success button position_center" style="border-radius: 8px;width: 300px;color: white;font-size: 17px;font-weight: bold;">Search</button>
            </div>
        </form>
    </div>
    {{#each responseJSON as |dog|}}
    <div class="position_center panel" style="">
        <div class="small-6 columns">
            <img src="{{dog.img}}">
        </div>
        <label>Name: {{dog.dog_name}}</label><br>
        <label>Breed: {{dog.breed}}</label><br>
        <label>Age: {{dog.age}}</label><br>
        <label>Gender: {{dog.gender}}</label><br>
        <label>Size: {{dog.size}}</label><br>
    </div>
    {{/each}}

    <script>
        // ACTION: Submit form on button click
        $( "#dogSearchForm" ).submit(function( event ) {
        });
    </script>
</body>
