.panel{
    background: #dfdfdf;
    border-radius: 8px;
    width: 360px;
    height: 280px;
    margin: 30px 0px 0px 0px;
}
.panel_selection{
    margin: 9px 0px 10px 0px;
    width: 63px;
    height: 23px;
    padding: 0px;
    font-size: 12px;
}
.position_center{
    display: table;
    margin-left: auto;
    margin-right: auto;
}